useDynLib(tviblindi)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
import(flowCore)
exportPattern("^[[:alpha:]]+")

export(add1column)
export(assign_label)
export(build_boundaryC)
export(create_k_skeleton)
export(knn.adj.construct)
export(knn.adj.raw)
export(knn.diffuseX)
export(knn.raw2adj)
export(sparse.Laplacian.construct)
export(sparse.diffuse)
