useDynLib(tviblindi)
importFrom(Rcpp, evalCpp)
import("ggplot2")
import("shiny")
import("graphics")
import("grDevices")
import("utils")
import("stats")

importFrom(magrittr, "%>%")

export("Plot")

export("tviblindi")
export("InferTrajectories")

export("AddLabelsVector")
export("Denoise")
export("SetOrigin")
export("ConstructkNNG")
export("Downsample")
export("AddLayout")
export("Cluster")
export("ComputePseudotime")
export("Filter")
export("SimulateRandomWalks")
export("Plot")
export("Interactive")
export("Connectome")
export("Upsample")

S3method(print, tviblindi)
S3method(AddLabelsVector, tviblindi)
S3method(Denoise, tviblindi)
S3method(SetOrigin, tviblindi)
S3method(ConstructkNNG, tviblindi)
S3method(Downsample, tviblindi)
S3method(AddLayout, tviblindi)
S3method(Cluster, tviblindi)
S3method(ComputePseudotime, tviblindi)
S3method(Filter, tviblindi)
S3method(SimulateRandomWalks, tviblindi)
S3method(Plot, tviblindi)
