useDynLib(tviblindi)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
import(flowCore)
exportPattern("^[[:alpha:]]+")
S3method(Set_origin,tviblindi)
S3method(print,tviblindi)
S3method(Denoise,tviblindi)
S3method(Som,tviblindi)
S3method(Cluster,tviblindi)
S3method(Filtration,tviblindi)
S3method(Pseudotime,tviblindi)
S3method(Walks,tviblindi)
S3method(ToggleShowFates,tviblindi)
S3method(DimRed,tviblindi)
S3method(DownSample,tviblindi)
S3method(Copy,tviblindi)
S3method(Connectome,tviblindi)
S3method(KNN,tviblindi)
S3method(plot,tviblindi)
